<form
  class="register"
  [formGroup]="form"
>
  <h2>{{ 'AUTH.REGISTER_TITLE' | translate }}</h2>
  <div>
    <input
      pInputText
      formControlName="email"
      placeholder="{{ 'AUTH.EMAIL_LABEL' | translate }}"
    />
  </div>
  <div>
    <input
      pInputText
      formControlName="password"
      type="password"
      placeholder="{{ 'AUTH.PASSWORD_LABEL' | translate }}"
    />
  </div>
  @if (error()) {
    <div class="error">{{'AUTH.REGISTER_ERROR' | translate}}</div>
  }
  <div class="register-footer">
    <p-button
      type="button"
      label="{{ 'AUTH.REGISTER_BUTTON' | translate }}"
      (onClick)="register()"
      [disabled]="form.invalid"
    />
    <br>
    <p-button
      type="button"
      styleClass="p-button-text"
      (onClick)="toggleLogin()"
      [label]="'AUTH.HAVE_ACCOUNT_LOGIN' | translate"
    />
  </div>

</form>


