@if (clickNote().visible) {
  @let state = clickNote();
  <app-note-change-dialog [visible]="state.visible"
                          (visibleChange)="noteDialogClose()"
                          [note]="state.note"
                          [readonly]="state.readonly">
  </app-note-change-dialog>
}

@if (shareNote().visible) {
  <app-note-share-dialog [visible]="true"
                         (visibleChange)="shareDialogClose()"
                         [note]="getShareDialogNote()">
  </app-note-share-dialog>
}

<div class="notes-list">
  @for (section of sections; track section.id) {
    <div>
      @if (section.signal()?.data?.length) {
        <h4>{{ section.titleKey | translate }}</h4>
      }
      <div class="grid">
        @for (note of section.signal()?.data; track note.id) {
          <app-note-card [note]="note" (onClick)="noteCardClick($event)"
                         (pinClick)="onPinClickPropagation($event)"
                         (shareClick)="noteCardShareClick($event)"></app-note-card>
        }
      </div>
       @if (section.signal()?.hasMore && section.signal()?.data?.length) {
         <div class="load-more-btn">
           <p-button (onClick)="section.loadMore()" [label]="'NOTES.SEARCH_DIALOG.LOAD_MORE' | translate"></p-button>
         </div>
       }
    </div>
  }

  @if (!pinnedNotesSection()?.data?.length && !otherNotesSection()?.data?.length && !sharedNotesSection()?.data?.length) {
    <h4>{{ 'NOTES.NO_NOTES' | translate }}</h4>
  }
</div>

