<div class="create-btn">
  <p-button (onClick)="openCreate()" label="{{ 'NOTES.CREATE_BUTTON' | translate }}"></p-button>
</div>

@if (clickNote(); as clickNote) {
  <app-note-change-dialog [visible]="clickNote.visible"
                          (visibleChange)="noteDialogClose()"
                          (noteSaved)="onNoteSaved($event)"
                          [note]="clickNote.visible ? clickNote.note : null">
  </app-note-change-dialog>
}

<div class="notes-list">
  @if (pinnedNotes(); as notes) {
    <div>
      <h4>{{ 'NOTES.SECTION_PINNED' | translate }}</h4>
      <div class="grid">
        @for (note of notes; track note.id) {
          <app-note-card [note]="note" (onClick)="noteCardClick($event)"></app-note-card>
        }
      </div>
    </div>
  }
  @if (otherNotes(); as notes) {
    <div>
      <h4>{{ 'NOTES.SECTION_OTHER' | translate }}</h4>
      <div class="grid">
        @for (note of notes; track note.id) {
          <app-note-card [note]="note" (onClick)="noteCardClick($event)"></app-note-card>
        }
      </div>
    </div>
  }
</div>

