export type {{classname}} = {{#allowableValues}}{{#enumVars}}{{{value}}}{{#unless @last}} | {{/unless}}{{/enumVars}}{{/allowableValues}};

export const {{classname}} = {
{{#allowableValues}}
{{#enumVars}}
    {{name}}: {{{value}}} as {{classname}}{{#unless @last}},{{/unless}}
{{/enumVars}}
{{/allowableValues}}
};